@use 'sass:math';

.iframe_adjusted_height {
  height: 80vh;
}


@function get_chart_heights($width, $orientation: portrait) {
  $ar: 1.8;
  $effective_width: if($orientation == landscape, $width / $ar, $width);
  $w: $effective_width / 1px;
  $a: -0.000251 * math.pow($w, 2) + 0.245 * $w + 24;
  $b: -0.000464 * math.pow($w, 2) + 0.452 * $w + 53;
  @return ($a, $b);
}

@mixin responsive_stock_charts(
  $max-width: none,
  $orientation: portrait
) {
  @if $max-width != none {
    @media (max-width: $max-width) and (orientation: $orientation) {

      $heights: get_chart_heights($max-width, $orientation);

      .stock_price,
      .indicator_ema {
        height: nth($heights, 1) + vh;
      }
      .indicator_ad,
      .indicator_adx,
      .indicator_cci,
      .indicator_macd,
      .indicator_obv,
      .indicator_rsi,
      .indicator_stoch {
        height: nth($heights, 2) + vh;
      }
    }
  } @else {
    @warn "The max-width argument is required for the responsive_stock_charts mixin."
  }
}

// Asus Zenbook Continuous
@include responsive_stock_charts(855px, portrait);

// IPad Air Portrait
@include responsive_stock_charts(820px, portrait);

// IPad Mini Portrait
@include responsive_stock_charts(768px, portrait);

// Galaxy Z Folded
@include responsive_stock_charts(690px, portrait);

// Surface Duo Folded
@include responsive_stock_charts(540px, portrait);

// IPhone 14 Pro Max Portrait
@include responsive_stock_charts(430px, portrait);

// IPhone XR Portrait
@include responsive_stock_charts(415px, portrait);

// IPhone 12 Pro Portrait
@include responsive_stock_charts(400px, portrait);

// IPhone SE Portrait
@include responsive_stock_charts(375px, portrait);

// Galaxy S8 Portrait
@include responsive_stock_charts(360px, portrait);

// Galaxy Z Continuous
@include responsive_stock_charts(345px, portrait);

