.iframe_adjusted_height {
  height: 80vh;
}

// Nest Hub
@media (max-width: 1024px) {
  .stock_price,
  .indicator_ema {
    height: 107vh;
  }
  .indicator_ad,
  .indicator_adx,
  .indicator_cci,
  .indicator_macd,
  .indicator_obv,
  .indicator_rsi,
  .indicator_stoch {
    height: 210vh;
  }
}

// Asus Zenbook Continuous
@media (max-width: 855px) {
  .stock_price,
  .indicator_ema {
    height: 50vh;
  }
  .indicator_ad,
  .indicator_adx,
  .indicator_cci,
  .indicator_macd,
  .indicator_obv,
  .indicator_rsi,
  .indicator_stoch {
    height: 100vh;
  }
}


// IPad Air Portrait
@media (max-width: 820px) {
  .stock_price,
  .indicator_ema {
    height: 55vh;
  }
  .indicator_ad,
  .indicator_adx,
  .indicator_cci,
  .indicator_macd,
  .indicator_obv,
  .indicator_rsi,
  .indicator_stoch {
    height: 107vh;
  }
}

// IPad Mini Portrait
@media (max-width: 768px) {
  .stock_price,
  .indicator_ema {
    height: 63vh;
  }
  .indicator_ad,
  .indicator_adx,
  .indicator_cci,
  .indicator_macd,
  .indicator_obv,
  .indicator_rsi,
  .indicator_stoch {
    height: 125vh;
  }
}

// Galaxy Z Folded
@media (max-width: 690px) {
  .stock_price,
  .indicator_ema {
    height: 77vh;
  }
  .indicator_ad,
  .indicator_adx,
  .indicator_cci,
  .indicator_macd,
  .indicator_obv,
  .indicator_rsi,
  .indicator_stoch {
    height: 153vh;
  }
}

// Surface Duo Folded
@media (max-width: 540px) {
  .stock_price,
  .indicator_ema {
    height: 90vh;
  }
  .indicator_ad,
  .indicator_adx,
  .indicator_cci,
  .indicator_macd,
  .indicator_obv,
  .indicator_rsi,
  .indicator_stoch {
    height: 175vh;
  }
}

// IPhone 14 Pro Max Portrait
@media (max-width: 430px) {
  .stock_price,
  .indicator_ema {
    height: 68vh;
  }
  .indicator_ad,
  .indicator_adx,
  .indicator_cci,
  .indicator_macd,
  .indicator_obv,
  .indicator_rsi,
  .indicator_stoch {
    height: 135vh;
  }
}

// IPhone XR Portrait
@media (max-width: 415px) {
  .stock_price,
  .indicator_ema {
    height: 71vh;
  }
  .indicator_ad,
  .indicator_adx,
  .indicator_cci,
  .indicator_macd,
  .indicator_obv,
  .indicator_rsi,
  .indicator_stoch {
    height: 140vh;
  }
}

// IPhone 12 Pro
@media (max-width: 400px) {
  .stock_price,
  .indicator_ema {
    height: 75vh;
  }
  .indicator_ad,
  .indicator_adx,
  .indicator_cci,
  .indicator_macd,
  .indicator_obv,
  .indicator_rsi,
  .indicator_stoch {
    height: 150vh;
  }
}

// IPhone SE Portrait
@media (max-width: 375px) {
  .stock_price,
  .indicator_ema {
    height: 95vh;
  }
  .indicator_ad,
  .indicator_adx,
  .indicator_cci,
  .indicator_macd,
  .indicator_obv,
  .indicator_rsi,
  .indicator_stoch {
    height: 190vh;
  }
}

// Galaxy S8 Portrait
@media (max-width: 360px) {
  .stock_price,
  .indicator_ema {
    height: 86vh;
  }
  .indicator_ad,
  .indicator_adx,
  .indicator_cci,
  .indicator_macd,
  .indicator_obv,
  .indicator_rsi,
  .indicator_stoch {
    height: 170vh;
  }
}

// Galaxy Z Fold Portrait
@media (max-width: 345px) {
  .stock_price,
  .indicator_ema {
    height: 73vh;
  }
  .indicator_ad,
  .indicator_adx,
  .indicator_cci,
  .indicator_macd,
  .indicator_obv,
  .indicator_rsi,
  .indicator_stoch {
    height: 145vh;
  }
}
