@if (shareUrl().url.trim().length > 0) {
    <div class="mt-4 flex md:mt-0  relative">
        <button type="button" (click)="toggleMenu()"
                class="nav-btn inline-flex items-center px-3 py-2 text-sm font-semibold cursor-pointer">
            <img src="/svg/icon-share.svg" class="mr-2 size-5" aria-hidden="true" alt="" />
            <span>Share</span>
        </button>

        @if (showMenu()) {
            <div class="share-dropdown">
                <ul class="py-1">
                    <li>
                        <button (click)="share('x')" class="share-item">
                            <span class="ml-2">X</span>
                        </button>
                    </li>
                    <div aria-hidden="true" class="share-divider"></div>
                    <li>
                        <button (click)="share('facebook')" class="share-item">
                            <span class="ml-2">Facebook</span>
                        </button>
                    </li>
                    <div aria-hidden="true" class="share-divider"></div>
                    <li>
                        <button (click)="share('whatsapp')" class="share-item">
                            <span class="ml-2">WhatsApp</span>
                        </button>
                    </li>
                    <div aria-hidden="true" class="share-divider"></div>
                    <li>
                        <button (click)="share('threads')" class="share-item">
                            <span class="ml-2">Threads</span>
                        </button>
                    </li>
                    <div aria-hidden="true" class="share-divider"></div>
                    <li>
                        <button (click)="share('linkedin')" class="share-item">
                            <span class="ml-2">LinkedIn</span>
                        </button>
                    </li>
                    <div aria-hidden="true" class="share-divider"></div>
                    <li>
                        <button (click)="share('reddit')" class="share-item">
                            <span class="ml-2">Reddit</span>
                        </button>
                    </li>
                    <div aria-hidden="true" class="share-divider"></div>
                    <li>
                        <button (click)="share('copy')" class="share-item">
                            <span class="ml-2">Copy link</span>
                        </button>
                    </li>
                    <div aria-hidden="true" class="share-divider"></div>
                    <li>
                        <button (click)="share('email')" class="share-item">
                            <span class="ml-2">E-mail link</span>
                        </button>
                    </li>
                </ul>
            </div>
        }
    </div>
}
