{
  "size": {{size}},
  "query": {
    "term": {
      "key_ticker": {
        "value": "{{key_ticker}}"
      }
    }
  },
  "_source": [
    "key_url",
    "key_source",
    "text_headline",
    "text_summary"
    {{#include_key_ticker}},
    "key_ticker"
    {{/include_key_ticker}}
    {{#include_obj_images}},
    "obj_images"
    {{/include_obj_images}}
  ],
  "sort": [
    {
      "date_reference": {
        "order": "desc"
      }
    }
  ]
}
