{
  "size": {{size}},
  {{#search_after}}
  "search_after": {{#toJson}}search_after{{/toJson}},
  {{/search_after}}
  "query": {
    {{#key_ticker}}
    "term": {
      "key_ticker": {
        "value": "{{key_ticker}}"
      }
    }
    {{/key_ticker}}
    {{^key_ticker}}
    "match_all": {}
    {{/key_ticker}}
  },
  "_source": [
    "date_reference",
    "key_url",
    "key_source",
    "text_headline",
    "text_summary"
    {{#include_text_content}},
    "text_content"
    {{/include_text_content}}
    {{#include_key_ticker}},
    "key_ticker"
    {{/include_key_ticker}}
    {{#include_obj_images}},
    "obj_images"
    {{/include_obj_images}}
  ],
  "sort": [
    {
      "date_reference": {
        "order": "desc"
      }
    }
  ]
}
