<div class="hidden sm:block">
    <div class="text-white p-6 rounded-lg shadow-lg">

        <!-- Top section with Symbol and Close Price -->
        <div class="flex justify-between items-start mb-4">
            <div>
                <p class="text-sm text-gray-400">Symbol</p>
                <p class="text-3xl font-bold">{{ keyTicker() }}</p>
                <p class="text-sm">{{ companyName() }}</p>
            </div>
            <div class="text-right">
                <p class="text-sm text-gray-400">Close</p>
                <p class="text-3xl font-bold">
                    {{ statsClose().most_recent_close | number : '1.2-2' }}
                </p>
                <div class="flex items-center justify-end gap-x-2">
                    <p class="text-base"
                       [class.text-green-400]="statsClose().percent_variance > 0"
                       [class.text-rose-400]="statsClose().percent_variance <= 0">
                        {{ statsClose().percent_variance > 0 ? '+' : '' }}{{ statsClose().percent_variance | number : '1.2-2' }}
                        %
                    </p>
                    <p class="text-sm text-gray-400">on {{ statsClose().most_recent_date }}</p>
                </div>
            </div>
        </div>

        <!-- Detailed stats section -->
        <div class="grid grid-cols-2 sm:grid-cols-4 gap-4 py-4">
            <div>
                <p class="text-sm text-gray-400">Open</p>
                <p class="text-md font-medium">{{ statsClose().most_recent_open | number : '1.2-2' }}</p>
            </div>
            <div>
                <p class="text-sm text-gray-400">High</p>
                <p class="text-md font-medium">{{ statsClose().most_recent_high | number : '1.2-2' }}</p>
            </div>
            <div>
                <p class="text-sm text-gray-400">Low</p>
                <p class="text-md font-medium">{{ statsClose().most_recent_low | number : '1.2-2' }}</p>
            </div>
            <div>
                <p class="text-sm text-gray-400">Volume</p>
                <p class="text-md font-medium">{{ statsClose().most_recent_volume | number : '1.0-0' }}</p>
            </div>
        </div>

        <div aria-hidden="true" class="w-full border-t border-white/15"></div>

        <!-- Date Range Selection -->
        <div class="grid grid-cols-2 sm:grid-cols-4 gap-4 py-4">
            <div>
                <p class="text-sm text-gray-400">Start Date</p>
                @if (useIntervalInDates()) {
                    <p class="text-base font-medium">{{ intervalInDates().split('_')[0] }}</p>
                } @else {
                    <p class="text-base font-medium">{{ getPastDateInDays(intervalInDays()) }}</p>
                }
            </div>
            <div>
                <p class="text-sm text-gray-400">End Date</p>
                @if (useIntervalInDates()) {
                    <p class="text-base font-medium">{{ intervalInDates().split('_')[1] }}</p>
                } @else {
                    <p class="text-base font-medium">{{ getPastDateInDays(1) }}</p>
                }
            </div>
            @if (!useIntervalInDates()) {

                <!-- here gemini: start -->
                <div class="col-span-2 mt-2 ml-4">

                    <button
                            type="button"
                            (click)="setIntervalInDays(30)"
                            [class.bg-white/20]="intervalInDays() === 30"
                            [class.bg-white/10]="intervalInDays() !== 30"
                            class="relative inline-flex items-center rounded-l-md px-3 py-2 text-sm lg:text-sm md:text-xl font-semibold text-white
                            ring-1 ring-inset ring-gray-700 hover:bg-white/20 focus:z-10">
                        1M
                    </button>
                    <button
                            type="button"
                            (click)="setIntervalInDays(90)"
                            [class.bg-white/20]="intervalInDays() === 90"
                            [class.bg-white/10]="intervalInDays() !== 90"
                            class="relative -ml-px inline-flex items-center px-3 py-2 text-sm lg:text-sm md:text-xl font-semibold text-white ring-1 ring-inset ring-gray-700 hover:bg-white/20 focus:z-10">
                        3M
                    </button>
                    <button
                            type="button"
                            (click)="setIntervalInDays(180)"
                            [class.bg-white/20]="intervalInDays() === 180"
                            [class.bg-white/10]="intervalInDays() !== 180"
                            class="relative -ml-px inline-flex items-center px-3 py-2 text-sm lg:text-sm md:text-xl font-semibold text-white ring-1 ring-inset ring-gray-700 hover:bg-white/20 focus:z-10">
                        6M
                    </button>
                    <button
                            type="button"
                            (click)="setIntervalInDays(365)"
                            [class.bg-white/20]="intervalInDays() === 365"
                            [class.bg-white/10]="intervalInDays() !== 365"
                            class="relative -ml-px inline-flex items-center rounded-r-md px-3 py-2 text-sm lg:text-sm md:text-xl font-semibold text-white ring-1 ring-inset ring-gray-700 hover:bg-white/20 focus:z-10">
                        1Y
                    </button>
                </div>
                <!-- here gemini: end -->
            }
        </div>
    </div>
</div>

