{
  "size": {{size}},
  {{#search_after}}
  "search_after": {{#toJson}}search_after{{/toJson}},
  {{/search_after}}
  {{#id}}
  "query":{
    "ids": {
      "values": ["{{id}}"]
    }
  }
  {{/id}}
  {{^id}}
  "query": {
    {{#key_ticker}}
    "term": {
      "key_ticker": {
        "value": "{{key_ticker}}"
      }
    }
    {{/key_ticker}}
    {{^key_ticker}}
    {{#search_term}}
    "multi_match": {
      "query": "{{search_term}}",
      "fields": ["text_headline^3", "text_summary^2", "text_content"],
      "type": "best_fields",
      "operator": "or"
    }
    {{/search_term}}
    {{^search_term}}
    "match_all": {}
    {{/search_term}}
    {{/key_ticker}}
  }
  {{/id}},
  "_source": [
    "date_reference",
    "key_url",
    "key_source",
    "text_headline",
    "text_summary"
    {{#include_text_content}},
    "text_content"
    {{/include_text_content}}
    {{#include_key_ticker}},
    "key_ticker"
    {{/include_key_ticker}}
    {{#include_obj_images}},
    "obj_images"
    {{/include_obj_images}}
  ],
  "sort": [
    {
      "date_reference": {
        "order": "desc"
      }
    }
  ]
}
