{
  "size": {{#size}}{{size}}{{/size}}{{^size}}100{{/size}},
  "query": {
    "bool": {
      "must": [
        {"term": {"flag_processed": false}}
      ],
      "must_not": [
        {"term": {"flag_cancelled": true}}
      ]
    }
  },
  "sort": [
    {"date_timestamp": "asc"}
  ]
}
